body{
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
    margin: 0;
    
}
.display{
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    margin-bottom: 10px;
    
}
.display_temperatures{
    background-color: #66ccff;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 90px;
    border: 1px solid #000;
    font-weight: bold;
}
.display_humidity{
    position: relative;
    width: 90px;
    background-color: #66ccff;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    border: 1px solid #000;
    font-weight: bold;
}
.display_light{
    position: relative;
    width: 90px;
    background-color: #66ccff;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    border: 1px solid #000;
    font-weight: bold;
}
.toggle{
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin-bottom: 10px;

}
.power{
    position: relative;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
    margin-bottom: 10px;

}
.toggle1{
    color: blue;
    text-align: center;
    font-size: 1em;
    font-weight: bold;
 
}
.toggle2{
    color: blue;
    text-align: center;
    font-size: 1em;
    font-weight: bold;
 
}
.toggle3{
    color: blue;
    text-align: center;
    font-size: 1em;
    font-weight: bold;
 
}
.box1{
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}
.box2{
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}
.box3{
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}
.toggle .onoff{
    
    color: red;
    font-size: 1em;
    text-align: center;
    
    font-family: Arial, Helvetica, sans-serif;
}
.toggle .onoff2{
    
    
    color: red;
    font-size: 1em;
    text-align: center;
    
    font-family: Arial, Helvetica, sans-serif;
}
.power .onoff3{
    
    color: red;
    font-size: 1em;
    text-align: center;
    
    font-family: Arial, Helvetica, sans-serif;
}
.slider{
    position: relative;
    display: block;
    cursor: pointer;
    background-color: #333;
    transition: .4s;
    width: 80px;
    height: 45px;
    top: 5px;
}
.slider:before{
    content: "";
    position: absolute;
    height: 41px;
    width: 35;
    background-color: aliceblue;
    transition: 0.4s;
    top: 2px;
    left: 2px;
}
.box1:checked + .slider{
    background-color: orange;
    box-shadow: 0 0 5px orange;
}
.box1:checked + .slider:before{
    transform: translateX(41px);
}
.box2:checked + .slider{
    background-color: orange;
    box-shadow: 0 0 5px orange;
}
.box2:checked + .slider:before{
    transform: translateX(41px);
}
.box3:checked:checked + .slider{
    background-color: orange;
    box-shadow: 0 0 5px orange;
}
.box3:checked + .slider:before{
    transform: translateX(41px);
}
.slider.round{
    border-radius: 5px;
}
.slider.round::before{
    border-radius: 5px;
}